doctype html
html(lang="ru=RU")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href="css/style.css")
        <link rel="stylesheet" href="fonts/fontello/css/fontello.css">
    body
        .consultation
            header
                a.button_entrance(href='#') Вход для клиентов
                .separator
                .button_languages
                    a.languag.active(href='#') RU
                    a.languag(href='#') EN
                    a.languag(href='#') DE
            main
                form.wrapper(enctype='multipart/form-data' method='post')
                    h1 Запрос консультации
                    h3 Контактные данные
                    .form-row.contact
                        .column-3
                            input(type='text' name='name' placeholder='Ваше имя' required)
                        .column-3
                            input(type='text' name='phone' placeholder='Телефон' required)
                        .column-3
                            input(type='email' name='email' placeholder='E-mail' required)
                    h3 Кто вы
                    .form-row.buttons
                        .column-4
                            input#who-1(type='radio' name='who' checked='checked')
                            label(for='who-1') Стартап
                        .column-4
                            input#who-2(type='radio' name='who')
                            label(for='who-2') Малый и средний бизнес
                        .column-4
                            input#who-3(type='radio' name='who')
                            label(for='who-3') Крупный бизнес
                        .column-4
                            input#who-4(type='radio' name='who')
                            label(for='who-4') Агентство
                    h3 Что вас интересует?
                    .form-row.buttons
                        .column-3.column-padding
                            input#what-1(type='radio' name='who' checked='checked')
                            label(for='what-1') Yii / Yii 2
                        .column-3.column-padding
                            input#what-2(type='radio' name='who')
                            label(for='what-2') Django / Flask / Falcon
                        .column-3.column-padding
                            input#what-3(type='radio' name='who')
                            label(for='what-3') Spring / Java core / Java se
                        .column-3
                            input#what-4(type='radio' name='who')
                            label(for='what-4') React / Angular / Node.js
                        .column-3
                            input#what-5(type='radio' name='who')
                            label(for='what-5') React Native
                                span.small (Разработка мобильных приложений)
                        .column-3
                            input#what-6(type='radio' name='who')
                            label(for='what-6') Другое
                    h3 Количество разработчиков
                    .creators
                        span.creators_plus
                            i.demo-icon.icon-minus
                        input.creators_count(type='text' value='0' title='Количество порций может быть в пределах от 1 до 12')
                        span.creators_minus
                            i.demo-icon.icon-plus
                    h3 Комментарий
                    textarea
                    .attach
                        label(for='attach')
                            span
                            | Прикрепить файл
                        input#attach(type='file')
                    input(type='submit' value='Отправить')



