$color-1: #FFFFFF;
$color-2: #009889;
$color-3: #E5F4F3;
$color-4: #9E9E9E;
$color-5: #343434;
$color-6: #F0F0F0;
$color-7: #A7DBD6;
$color-8: #787878;
$border: #E4E4E4;
$border-input: #979797;
$input: #b6b5b0;
$separator: #4DB7AD;
