@import "variables";
@import "smart-grid";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@include reset();

body {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
}

.debug {
  display: none;
  @include debug(rgba(0,0,0,0.1), 1px solid #ff1);
}

.wrapper {
  @include wrapper;
}

.consultation{
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  margin: 0 auto;
  width: 945px;
}

.separator {
  background-color: $separator;
  height: 25px;
  margin: 0 20px;
  width: 1px;
}

.form-row {
  @include row-flex();
  padding-bottom: 35px;
}

.column-padding {
  padding-bottom: 20px;
}

.column-1 {
  @include col;
  @include size(12);
}

.column-3 {
  @include col;
  @include size(4);
}

.column-4 {
  @include col;
  @include size(3);
}

header {
  align-items: center;
  background: $color-2;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;

  a {
    text-decoration: none;
  }

  .button_entrance {
    color: $color-1;
  }

  .button_languages {
    a {
      color: $color-7;
      &:not(:first-child) {
        padding-left: 15px;
      }

      &.active {
        color: $color-1;
      }
    }

  }
}

.consultation {
  padding-bottom: 30px;
  h1 {
    color: $color-2;
    font-size: 32px;
    padding: 60px 0 40px;
  }
  h3 {
    color: $color-5;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .contact {
    input {
      border: 1px solid $border-input;
      border-radius: 3px;
      height: 42px;
      font-size: 16px;
      outline: none;
      padding: 0 15px;
      width: calc(100% - 30px);
    }

    input::-webkit-input-placeholder {
      color: $border-input;
      font-family: 'Roboto', 'sans-serif';
    }

    input::-moz-placeholder {
      color: $border-input;
      font-family: 'Roboto', 'sans-serif';
    }

    input:-moz-placeholder {
      color: $border-input;
      font-family: 'Roboto', 'sans-serif';
    }

    input:-ms-input-placeholder {
      color: $border-input;
      font-family: 'Roboto', 'sans-serif';
    }
  }

  .buttons {
    input[type='radio'] {
      display: none;

      &:checked + label {
        background: $color-2;
        color: $color-1;
      }
    }

    label {
      align-items: center;
      background: $color-3;
      color: $color-5;
      cursor: pointer;
      border-radius: 3px;
      display: flex;
      height: 55px;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 16px;
      justify-content: center;
      padding: 0 10px;
      text-align: center;
      width: calc(100% - 20px);

      .small {
        font-size: 13px;
      }
    }
  }

  textarea {
    border: 1px solid $border-input;
    border-radius: 3px;
    min-height: 170px;
    outline: none;
    margin-bottom: 10px;
    padding: 10px 15px;
    resize: none;
    width: 100%;
  }

  .attach {
    input {
      display: none;
    }

    label {
      align-items: center;
      background: $color-6;
      border: 1px solid $color-6;
      border-radius: 3px;
      color: $color-8;
      cursor: pointer;
      display: flex;
      font-size: 18px;
      height: 43px;
      line-height: 43px;
      justify-content: center;
      width: 278px;

      span {
        background: url("../img/attach.png");
        display: inline-block;
        height: 20px;
        margin-right: 15px;
        width: 19px;
      }
    }
  }

  input[type='submit'] {
    background: $color-2;
    border: 1px solid $color-2;
    border-radius: 3px;
    color: $color-1;
    display: block;
    height: 58px;
    font-size: 18px;
    margin: 35px auto 0;
    text-transform: uppercase;
    width: 318px;

  }
}

.creators {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 35px;

  span {
    background: $color-2;
    color: $color-1;
    cursor: pointer;
    display: block;
    height: 45px;
    font-weight: normal;
    line-height: 45px;
    padding: 0 15px;
    text-align: center;

    i {
      font-size: 19px;
    }
  }

  &_plus {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }

  &_minus {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  input {
    background: $color-3;
    border: none;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    text-align: center;
    width: 60px;
  }
}